@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Roboto:400,700&display=swap');

/*----------------------- typography styling -----------------------*/
*{
  color: #002B7F;
  letter-spacing: 0.1em !important; 
}

a{
  text-decoration: none;
  color: #002B7F;
}

a:active{
  text-decoration: underline;
}

#logo {
  height: 2rem;
}

#logo-text{
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #5EC1E5;
}

h1{
  font-size: 24px !important;
  font-weight: 700 !important;
  margin-bottom: 1rem !important;
}

h2, h3, h4, h5, h6{
  font-size: 18px !important;
  font-weight: 700 !important;
}

.MuiIconButton-root:hover{
  background-color: transparent !important;
}

.MuiButton-label:hover{
  color: white;
}

#createButton:hover a{
  color: white;
}

#deleteButton{
  background: lightgreen;
  width: 100%;
  border: 1px solid #002B7F;
}
.edit-post-layout{
  max-width: 75ch;
}
/*----------------------- web -----------------------*/
.background-image-layout{
  min-height: 100vh;
}

.header-dashboard-link {
  text-align: right;
  padding-right: .75rem;
}

#login,#logout,#logo-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#login span span, #logout span span{
  padding-right: 0.75rem;
}

.sidebar-weather-info {
  max-width: 300px;
}

#main-layout {
  margin-left: 300px;
  min-height: 50vh;
  padding: 1.5rem;
}

.sidebar {
  height: 100%; 
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4rem;
  background: rgba(255,255,255,0.5);
}

#sidebar-layout {
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-around; */
  align-items: center;
}

#footer-layout{
  margin-left: 300px;
  margin-top: 1.5rem;
  padding: 1.5rem;
  background: rgba(0,255,255,0.4);
}

.footer-secondary-layout{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.footer-secondary-layout #build-tools{
  margin-bottom: 2rem;
}

.build-tools-layout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
}

.footer-links{
  display: none;
}

/* landing page */
#landing-layout{
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  background: rgba(255,255,255,0.5);
  border-radius: 15px;
}

/* dashboard post List */
#dashboard-layout{
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  background: rgba(255,255,255,0.5);
  border-radius: 15px;
}

.dashboard-link{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.no-list-item{
  margin: 1rem;
}

.post-summary {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  margin-bottom: .5rem;
  opacity: .75;
}

.post-summary-title{
  flex-grow: 2;
}

.post-list-filter {
  background: #ffffff;
}
/* create, edit and read post page */
.create-post-layout, .edit-post-layout, .read-post-layout{
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.create-post-layout > div, .read-post-layout > div{
  width: 80%;
}

.edit-post-layout > div{
  width: 100%;
}
/*----------------------- responsive -----------------------*/
@media (max-width: 1200px) {
  .footer-secondary-layout{
    margin: 0 auto;
    flex-flow: column;
    max-width: 70%;
  }
  .footer-build-tools{
    margin-bottom: 2.5rem;
  }
  #main-layout {
    margin-left: 0;
  }
  #dashboard-layout{
    max-width: 90%;
  }
  #footer-layout{
    margin-left: 0;
  }
  .sidebar {
    z-index: 0;
    position: relative;
    padding-top: 1rem;
  }
  #sidebar-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (max-width: 700px) {
  #sidebar-layout {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .header-title {
    display: none;
  }
}

@media (max-width: 500px) {
  .header-links{
    display: none;
  }

  .build-tools-layout {
    grid-template-columns: 1fr 1fr;
    height: 300px;
  }

  .footer-links-layout{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer-links-layout p{
    flex-grow: 1;
  }

  .footer-links{
    display: block;
  }
}
